.carousel-container {
  width: 100%;

  .slick-slide {
    img {
      width: 100%;
      height: auto;
    }
  }

  @media (max-width: 1024px) {
    .slick-slide {
      img {
        height: auto;
        object-fit: contain;
      }
    }
  }

  @media (max-width: 768px) {
    height: 100vh;

    .slick-slide {
      img {
        height: auto;
        object-fit: contain;
      }
    }
  }

  @media (max-width: 480px) {
    height: 26vh;

    .slick-slide {
      img {
        height: auto;
        object-fit: contain;
      }
    }
  }
}
